<!DOCTYPE html>

<body class="bg-color">

  <!-- style -->
  <style>
    .bg-color{
      background-color: #f3f3f3;
    }
    .bg-color1{
      background-color: black;
    }
    .th-text{
      font-family: Ubuntu Condensed;
      font-size: 20px;
    }
    .td-text{
      font-family: ubuntu mono;
      font-size: 18px;
    }
    .t-title{
      text-align: center;
      font-family: ubuntu;
      font-size: 40px;
    }
    .button-text{
      font-family: ubuntu mono;
    }
  </style>

  <div class="container"><br>
    <h4 class="t-title">Employee Management System</h4>
    <div class="container"><br>
<router-outlet></router-outlet>
    </div>
  </div>

  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; EMPLOYEE MANAGEMENT SYSTEM. Designed by Victory Chollom.</small>
    </div>
  </footer>

</body>